
html, body {
  height: 100%;
  min-height: 100%;
}

body {
  overflow-x: hidden;
  padding: 0;
}

html, body, div, span, h2, p, a, img, strong, ul, li, nav, section, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

.main-text-colour {
  color: white;
}
.outline-button {
  background-color: green;
  border: 3px solid darkgreen;
  padding: 3px;
}

.outline-button:hover {
  cursor: pointer;
  color: black; !important;
  background-color: rgba(255, 255, 255, 0);
}
.button {
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.1em;
}



nav, section {
  display: block;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

html {
  font-size: 1em;
  -webkit-text-size-adjust: 1em;
  -ms-text-size-adjust: 1em;
}

body {
  vertical-align: baseline;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

::selection {
  background: #333;
  color: #FFF;
}

::-moz-selection {
  background: #333;
  color: #FFF;
}

body {
  font-size: 100%;
  font-family: LatoWeb, sans-serif;
  font-weight: 400;
}

p {
  font-size: 16px;
  font-weight: 500;
  line-height: 2em;
  color: #777;
}

h2 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 900;
  color: #3A4145;
  letter-spacing: 0.05em;
  margin-bottom: 25px;
}

.main-background-colour {
  background-color: #746BDF;
}

.primary-navigation {
  position: relative;
  height: 70px;
  width: 100%;
  z-index: 40;
  background-color: #222;
}

.primary-navigation-wrapper {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

.logo {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.15em;
  display: block;
  float: left;
  color: #FFFFFF;
  line-height: 70px;
  text-decoration: none;
}

.desktop-navigation {
  height: 100%;
  display: none;
  float: right;
}

.desktop-navigation ul {
  height: 100%;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav a {
  display: block;
  text-decoration: none;
  outline: none;
}
.topmenu {
  backface-visibility: hidden;

}

.topmenu > li {
  display: inline-block;
  position: relative;
}
.topmenu > li > a {
  height: 70px;
  line-height: 70px;
  padding: 0 30px;


  text-transform: uppercase;
  transition: .4s ease-in-out;
}

.topmenu li a:hover {color: #E6855F;}
.submenu {
  position: absolute;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 5;
  width: 150px;
  transform: perspective(600px) rotateX(-90deg);
  transform-origin: 0% 0%;
  transition: .6s ease-in-out;
}
.topmenu > li:hover .submenu {
  visibility: visible;
  opacity: 1;
    transform: perspective(600px) rotateX(0deg);
}
.submenu li a {
  font-size: 13px;
  line-height: 36px;
  padding: 0 25px;
  transition: .4s ease-in-out;
}

.desktop-navigation ul li {
  display: inline-block;
  margin-left: 10px;
}

.desktop-navigation ul li a {
  font-weight: 900;
  line-height: 70px;
  font-size: 12px;
  text-transform: uppercase;
  color: #999999;
  letter-spacing: 0.15em;
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.desktop-navigation ul li a:hover {
  color: #FFFFFF;
  cursor: pointer;
}

.desktop-navigation {
  display: block;
}

@media only screen and (max-width: 800px) {
  .primary-navigation {
    height: 60px;
  }
  .primary-navigation-wrapper {
    padding: 0 20px;
  }
  .desktop-navigation {
    display: none;
  }
  .logo {
    line-height: 60px;
  }
}

.menu-toggle {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  margin: 0;
}

.menu-toggle .menu-icon {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 18px;
  height: 2px;
  background-color: #FFF;
  display: block;
}

.menu-toggle .menu-icon::before,
.menu-toggle .menu-icon::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: inherit;
  left: 0;
}

.menu-toggle .menu-icon::before {
  bottom: 5px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.menu-toggle .menu-icon::after {
  top: 5px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.menu-toggle {
  width: 58px;
  display: none;
}

.menu-toggle .menu-icon {
  left: auto;
  right: 1.25em;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.mobile-navigation {
  opacity: 1;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.secondary-navigation {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 30;
  margin-top: 60px;
  display: none;
  -webkit-transform: translateY(-360px);
  -ms-transform: translateY(-360px);
  -moz-transform: translateY(-360px);
  -o-transform: translateY(-360px);
  transform: translateY(-360px);
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.secondary-navigation ul li {
  display: block;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #575757;
  border-bottom: 1px solid #676767;
  font-size: 14px;
  text-align: center;
}

.secondary-navigation ul li:last-of-type {
  border-bottom: none;
}

.secondary-navigation ul li a {
  padding: 22px 0 23px 0;
  display: block;
  text-decoration: none;
  font-weight: 900;
  text-transform: uppercase;
  color: #aaa;
  letter-spacing: 0.2em;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.secondary-navigation ul li a:hover {
  display: block;
  color: #fff;
  background-color: #676767;
}

.slide-content-down {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.show-secondary-navigation {
  opacity: 1;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

@media only screen and (max-width: 800px) {
  .menu-toggle {
    width: 58px;
    background: none;
    display: block;
    padding: 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .menu-toggle:hover {
    background-color: #393939;
  }
  .secondary-navigation {
    display: block;
  }
}

@media only screen and (max-width: 500px) {
  .menu-toggle:hover {
    background-color: #111;
  }
  .avatar{
    border: 3px solid white;
    border-radius: 500px;
    width: 200px;
    margin: 0 0 50 calc((100% - 200px) / 2);
  }

}
@media only screen and (min-width: 500px) {
  .avatar{
    border: 3px solid white;
        border-radius: 20px;
        width: 300px;
        margin: 0 0 30 0;
  }
}

.hero-container {
  padding: 100px 0 100px 0;;
  width: 100%;
  height: auto;
}

.hero-wrapper {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 40px;
}

.hero-message {
  color: #FFF;
  font-size: 28px;
  max-width: 910px;
  line-height: 45px;
  margin-bottom: 50px;
  font-weight: 700;
}

@media only screen and (max-width: 800px) {
  .hero-container {
    padding: 100px 0 130px 0;
  }
}

@media only screen and (max-width: 500px) {
  .hero-container {
    padding: 50px 0 60px 0;
  }
  .hero-wrapper {
    padding: 0 20px;
  }
  .hero-message {
    line-height: 35px;
    font-size: 24px;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 350px) {
  .hero-message {
    font-size: 20px;
  }
}

.about-container {
  padding: 80px 0 75px 0;
}

.about-wrapper {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 40px;
}

.about-wrapper p {
  margin-bottom: 65px;
}

@media only screen and (max-width: 800px) {
  .about-container {
    padding: 45px 0 40px 0;
  }
  .about-wrapper p {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 500px) {
  .about-wrapper {
    padding: 0 20px;
  }
}

.project-thumbnail-container {
  width: 100%;
  margin: 0 auto;
  padding: 80px 0 55px 0;
  background-color: #F8F8F8;
  border-top: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
}

.project-thumbnail-wrapper {
  max-width: 1180px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 30px;
}

@media only screen and (max-width: 800px) {
  .project-thumbnail-container {
    padding: 45px 0 25px 0;
  }
}

@media only screen and (max-width: 500px) {
  .project-thumbnail-wrapper {
    padding: 0 10px;
  }
}

.thumbnail {
  float: left;
  position: relative;
  width: 50%;
  padding-bottom: 34%;
  opacity: 1;
}

.thumbnail-image {
  position: absolute;
  overflow: hidden;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
}

.thumbnail-image img{
  width: 100%;
  height: auto;
}
video{
  width: 100%;
  height: auto;
}

.thumbnail-image .thumbnail-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0;
  text-align: center;
  background-color: #222;
  -o-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.thumbnail-overlay {
  position: absolute;
  padding-top: 28.5%;
}

.thumbnail-overlay:hover {
  opacity: 0.92;
}

.thumbnail-title {
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 0.025em;
}

.thumbnail-category {
  font-weight: 400;
  font-size: 20px;
  color: #999;
  display: block;
  margin-top: 8px;
}

@media only screen and (max-width: 900px) {
  .thumbnail-title {
    font-size: 20px;
  }
  .thumbnail-category {
    font-size: 16px;
    margin-top: 6px;
  }

}

@media only screen and (max-width: 650px) {
  .thumbnail {
    width: 100%;
    padding-bottom: 68%;
  }

}

@media only screen and (max-device-width: 499px) and (orientation: landscape) {
  html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
}
body {
    margin: 0;
    padding: 0;
}

#block-for-slider {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}

#viewport {
    width: 100%;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-align: center;
}

#slidewrapper {
    position: relative;
    width: calc(100% * 4);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    -o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    transition-timing-function: cubic-bezier(.67,.01,.23,1);
}

#slidewrapper, #slidewrapper li {
    margin: 0;
    padding: 0;
}

.slide {
    width: calc(100%/4);
    list-style: none;
    display: inline;
    float: left;
}

.slide-img {
    width: 100%;
}

#prev-btn, #next-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    top: calc(50% - 25px);
}

#prev-btn:hover, #next-btn:hover {
    cursor: pointer;
}

#prev-btn {
    left: 20px;
}

#next-btn {
    right: 20px;
}
